
<div class="page-header">
	<h1>Class List</h1>
	<p class="lead" ng-hide="userLoggedIn" style="color:red;font-size:15px;"> Please login to create a class!</p>
	
</div>



<div class="row">
	<div class="col-xs-5">
		<a href="#/new" class="btn btn-default" ng-disabled="!userLoggedIn"><span
			class="glyphicon 
glyphicon-plus"></span> New Class</a>
	</div>
	<div class="col-xs-7">
	
	  	<input type="text" class="form-control" ng-model="query"
			placeholder="Search for a class"> 		
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<hr>
	</div>
</div>
<div class="row" ng-switch on="classes.length">
	<ul ng-switch-when="0">
		<li><em>No classes in database. Would you like to <a
				href="#/new">create one</a>?</li>
	</ul>
	<ul ng-switch-default>
		<li ng-repeat="thisclass in classes | filter:query"><a
			href="#/class/{{thisclass._id}}?user={{userProfile.id}}">{{thisclass.className}}</a></li>
	</ul>
</div>
<p>&nbsp;</p>