<div class="page-header">
   <h1>View Class</h1>
</div>
<div class="well well-lg">
   <strong>Class Name: </strong>{{thisclass.className}}<br>
   <strong>Professor: </strong>{{thisclass.professor}}<br>
   <strong>Session: </strong>{{thisclass.session}}<br>
</div>
<div ng-hide="thisclass.userRated">
   <p class="lead">Please select one of the following options:</p>
      <form role="form" ng-submit="rate()">
	      <div ng-repeat="item in thisclass.items">
	          <div class="row">
	             <div class="col-xs-5">
	                 <label>
				         <input type="radio" name="item" ng-model="thisclass.userRate" value="{{item._id}}">
				                {{item.text}}
				     </label>
				 </div>
				 <div class="col-xs-7" align="left">
				     <button class="btn btn-primary pull-left" type="submit">Rate &raquo;</button>
			     </div>
	          </div>
		  </div>
		  <p><hr></p>
		  <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-default" ng-click="addItem()"><span class="glyphicon glyphicon-plus">
</span> Add more items</button>
            </div>
          </div>
          <p><hr></p>
          <div class="row">
            <div class="col-xs-6">
               <a href="#/classes" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Class List</a>
            </div>
          </div>
	   </form>
</div>
<p><hr></p>

          

             