       <div class="page-header">
          <h1>Create New Class</h1>
        </div>
        <form role="form" ng-submit="createClass()">
<!--//Rashi -->
          <div class="form-group">
            <label for="thisclassClassName">Class Name</label>
            <input type="text" ng-model="thisclass.className" class="form-control" 
id="thisclassClassName" placeholder="Enter class className">
          </div>
          <div class="form-group">
            <label for="thisclassProfessor">Professor</label>
            <input type="text" ng-model="thisclass.professor" class="form-control" 
id="thisclassProfessor" placeholder="Enter class professor">
          </div>
          <div class="form-group">
            <label for="thisclassSession">Session</label>
            <input type="text" ng-model="thisclass.session" class="form-control" 
id="thisclassSession" placeholder="Enter class session">
          </div>         
          <div class="form-group">
            <label for="thisclassCategory">Category</label>
            <input type="text" ng-model="thisclass.category" class="form-control" 
id="thisclassCategory" placeholder="Enter class category">
          </div>
<!--//Rashi -->
          <div class="form-group">
            <label>Choices</label>
            <div ng-repeat="choice in thisclass.choices">
              <input type="text" ng-model="choice.text" class="form-control" 
placeholder="Enter choice {{$index+1}} text"><br>
            </div>
          </div>    
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-default" ng-click=
"addChoice()"><span class="glyphicon glyphicon-plus">
</span> Add another</button>
            </div>
          </div>
          <p><hr></p>
          <div class="row">
            <div class="col-xs-6">
              <a href="#/classes" class="btn btn-default" role="button">
<span class="glyphicon glyphicon-arrow-left"></span> 
Back to Class List</a>
            </div>
            <div class="col-xs-6">
              <button class="btn btn-primary pull-right" type="submit">
	Create Class &raquo;</button>
            </div>
          </div>
          <p>&nbsp;</p>
        </form>