<div class="page-header">
   <h1>Rate this class!</h1>
</div>
<div class="well well-lg" >
   <h4 style="text-align:justify;"><strong>Class: </strong>{{thisclass.className}}</h4>
   <h4 style="text-align:justify;"><strong>Professor: </strong>{{thisclass.professor}}</h4>
   <h4 style="text-align:justify;"><strong>Session: </strong>{{thisclass.session}}</h4>
</div>
<div ng-hide="thisclass.userRated">
   <p class="lead" style="color:blue;font-size:15px;"> Please select one of the items to grade:</p>
      <form role="form" ng-submit="rate()">
	      <div ng-repeat="item in thisclass.items">
	          <div class="row">
	             <div class="col-xs-5">
	                 <label>
				         <input type="radio" name="item" ng-model="thisclass.userRate" value="{{item._id}}" style="font-size:30px;">
				                {{item.text}}
				     </label>
				 </div>
				 <div class="col-xs-7" align="left">
				     <button class="btn btn-primary pull-left" type="submit" style="width:75px; height:35px;">Rate &raquo;</button>
			     </div>
	          </div>
	          <br>
		  </div>
		  <p><hr></p>
		  
		  <div class="row">
            <div class="col-xs-5">
              <select ng-model="thisclass.items.category" class="form-control" title="Choose a category">
                  <option value="Lab">Lab</option>
                  <option value="Assignment">Assignment</option>
                  <option value="Lecture">Lecture</option>
                  <option value="Project">Project</option>
              </select>
            </div>
            <div class="col-xs-5" align="left"> 
               <input type="text" ng-model="thisclass.items.text" class="form-control" placeholder="Enter item text"><br>
            </div>
            <div class="col-xs-12"> 
               <button class="btn btn-primary pull-right" type="submit" style="width:100px; height:30px;">Add item &raquo;</button>
            </div>
            
          </div>
          
          <p><hr></p>
          <div class="row">
            <div class="col-xs-6">
               <a href="#/classes" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Class List</a>
            </div>
          </div>
	   </form>
</div>
<p><hr></p>

          

             